<?xml version="1.0" ?>
<config>
    <modules>
        <Fram_Groupreport>
            <version>0.1.0</version>
        </Fram_Groupreport>
    </modules>
    <global>
        <models>
            <groupreport>
                <class>Fram_Groupreport_Model</class>
                <resourceModel>groupreport_resource</resourceModel>
            </groupreport>
            <groupreport_resource>
                <class>Fram_Groupreport_Model_Resource</class>
            </groupreport_resource>
        </models>
        <blocks>
            <groupreport>
                <class>Fram_Groupreport_Block</class>
            </groupreport>
        </blocks>
        <helpers>
            <groupreport>
                <class>Fram_Groupreport_Helper</class>
            </groupreport>
        </helpers>

    </global>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <groupreport>
                        <class>Fram_Groupreport_Model_Observer</class>
                        <method>addBlock</method>
                    </groupreport>
                </observers>
            </core_block_abstract_to_html_before>
            <controller_action_layout_render_before>
                <observers>
                    <groupreport>
                        <class>Fram_Groupreport_Model_Observer</class>
                        <method>updateAdminMenu</method>
                    </groupreport>
                </observers>
            </controller_action_layout_render_before>
        </events>
        <layout>
            <updates>
                <fram_groupreport>
                    <file>groupreport.xml</file>
                </fram_groupreport>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Fram_Groupreport before="Mage_Adminhtml">Fram_Groupreport_Adminhtml</Fram_Groupreport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>